DB_URL=jdbc:postgresql://localhost:5432/smp
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET=

CORS_ORIGINS=http://localhost:3000

ERP_BASE_URL=https://lanx.cargamaquina.com.br
ERP_USERNAME=
ERP_PASSWORD=